extends layout2

block content
  h1 Haystack News

    if articles.length
        table.listing-table.table-dark.table-striped
            tr
                th Source
                th Title
                th Date
                th Link
            each article in articles
                tr
                    td= article.source.name
                    td= article.title
                    td= article.date
                    td= article.link
    else
        p No news yet :(

