extends layout2

block content
h1 Keyword List

    if keywords.length
        table.listing-table.table-dark.table-striped
            tr
                th Keyword
                th Category
            each keyword in keywords
                tr
                    td= keyword.keyword
                    td= keyword.category
    else
        p No keywords yet :(

