extends layout2

block content

    if keywords.length
        table.listing-table.table-dark.table-striped
            tr
                th Term
                th Category
            each keyword in keywords
                tr
                    td= keyword.term
                    td= keyword.category
    else
        p No keywords yet :(

