extends layout2

block content
  h1 Data Pull
  
  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="." method="POST")
    label Click here to pull data:
    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )